#navbar {
    display: flex;
    /* justify-content: space-between; */
    gap: 20px;
    align-items: center;
    padding: 15px;
    /* background: #8f0404;; */
}

#navbar > h2 > a{
    color: #FFF;
    font-family: 'Indie Flower', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}