.main-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    align-items: center;
    margin-top: 30px;
    padding: 15px;
}

.main-content-wrapper > form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 30px; */
    /* padding: 0px 20px; */
}

.main-content-input {
    width: 100%;
    max-width: 900px;
    height: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    /* border-radius: 20px; */
    background: #fff;
    padding: 20px;
    border: none;
    outline: none;
    color: #C2C2C2;
    font-size: 16px;
}

.main-content-input::-webkit-input-placeholder {
    color: #000;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main-content-button {
    width: 100%;
    max-width: 150px;
    height: 70px;
    /* border-radius: 20px; */
    background: #8f0404;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    outline: none;
    padding: 20px;
    cursor: pointer;
}

.main-content-more-informations {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.main-content-more-informations, span, a {
    color: #C2C2C2;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}